* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    text-align: center;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

header h1 {
    margin-bottom: 20px;
}

.navigazione-mesi button {
    background-color: darkblue;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    border: 0;
}

.navigazione-mesi button:disabled {
    background-color: lightgrey;
}

.fa-arrow-right {
    padding-left: 20px;
}

.fa-arrow-left {
    padding-right: 20px;
}

.grid-container div.festa {
    color: red;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 150px 150px 150px 150px 150px 150px 150px;
  grid-template-rows: 150px 150px 150px 150px 150px 150px 150px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
  position: relative;
}

.day {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 20px;
}

.holiday {
    position: absolute;
    bottom: 0;
    right: 5px;
    font-size: 20px;
}

.no-data {
    color:rgba(0, 0, 0, 0);
}

.nascosto {
    display: none;
}
